/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 nov. 2017, 09:58:57
    Author     : jm.prudham
*/
div#center{
    position:relative;
    top:20px;
}
div#center div#SplitterVertical1,div#center div#SplitterVertical1 div#SplitterVertical2{
    
    display:flex;
    flex-direction:row;
    justify-content:center;

}

div#recherche{
    
    max-width:300px;
}
div#menuHead{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-content: stretch;
    height:80px;
  
}
div#menuHead div#menuHeadTop,#menuHeadTop{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content: center;
    height:55px;
    width:900px;
    margin:auto;
    
}

div#menuHead div#langueEtHelp{ 
    
    flex-direction:row;
    justify-content:flex-start;
    
    
}
div#menuHead div#langueEtHelp div#help {
    width:28.8px;
    
}

div#menuHead div#panelMenu {
   
    box-shadow:none;
    border:none;
    
}
div#menuHead div#panelMenu  div.ui-overlaypanel-content{
    height:600px;
    
}
div#buttonMenuPanel  button#menuBtn {
    width:100px;
    color:green;
    background:#BDdE99;
    
}
div#buttonMenuPanel button#menuBtn:hover{
    box-shadow:0px 0px 8px #BD5E2E !important;
    
    
}
#buttonMenuPanel{
    position:relative;
    top:10px;
    margin-right:10px;
}

#exportPanel{
    position:absolute;
    bottom:0px;
}
#contenuPrincipale,#contenuDroite3 span#lang form{
    background:#fff;
    
}
 div#droite{
     position:relative;
    left:2px;
    
    
}
#confrimDialogDrag{
  
    
}
#confirmDialogDrag div{
     background-color:#F9FeEd;
     overflow: hidden;
    
}
#confirmDialogDrag >*{
    margin:auto;
   
}
#confirmDialogDrag button{
    position:relative;
    left:10px;
    
}
span.dragDrop{
    color:black;
   
}
span.dragDrop span{
    display:block;
    width:200px;
    
}
span.dragDrop span::before{
    content:"  ";
 
   
    background:#E7B40B;
    border-radius:90px;
    display:inline-block;
    height:10px;
    width:10px;
    vertical-align: middle;
    margin-right:5px;
    margin-bottom:2px;
}
table.dragDropTable {
    border:none;
    margin-left:10px;
    min-width:200px;
    max-width: 200px;
    margin-bottom:20px;
}
table.dragDropTable tbody tr.ui-widget-content td:nth-child(odd){
    color:white;
    border-color:black;
    min-width: 28px;
}
table.dragDropTable tbody tr.ui-widget-content td:nth-child(even){
    max-width:172px;
    min-width:172px;
    color:#586400;
}
table.dragDropTable tbody tr.ui-widget-content:nth-child(odd){
   
    background-color:rgb(159,214,153);
   
}
table.dragDropTable tbody tr.ui-widget-content:nth-child(even){
    background-color:rgb(199,234,203);
}
table.dragDropTable .ui-widget-content,table.dragDropTable .ui-widget-content .ui-panelgrid-cell{
    border:none;
}
#confirmDialogDrag form button{
   position:relative;
   left:-12px;
   margin-left:60px;
   height:25px;
     width:25px;
     padding-left:31px;
}
span.dragDropInfo {
    color:red;
    font-size:9px;
    text-align:center;
    margin:auto;
    width:189px;
    display:block;

}
/***************************page statistic.xhtml* *****************************/

div#principaleConf .ui-widget{
    font-family: "Palatino linotype",Times,serif;
    font-size:14px;
   
}
div#principaleConf span#choixStat form:first-child{
  
    
background: rgba(181,241,91,0.2);
    font-weight:bold;
    text-align:center;
    margin:auto;
    color:black;
}
div#principaleConf span#choixStat form:first-child:first-letter{
     text-transform: capitalize;
}
div#principaleConf span#choixStat form:first-child select{
    width:80px;
}
div#principaleConf .menuStat  {
  background:transparent;
    
}
div#principaleConf .menuStat div{
    background:#579323;
    position:relative;
    top:-26px;
    border:1px solid black;
    box-shadow:inset 0 1px 0 #586400;
}
div#principaleConf .menuStat div.ui-state-hover{
    box-shadow:0px 0px 8px  #BFBBA5 ; 
}
div#principaleConf .menuStat div.ui-state-active{
    background:#c2df97;
    box-shadow:0px 0px 4px  #BFBBA5,0px 0px 4px #BD5E2E; 
    border: 3px solid #956620;
}
div#principaleConf .menuStat div{
    text-shadow:none;
    color:white;
    border-radius:30px;
}
div#principaleConf span#choixStat form#selectAndExport{
    height:20px;
}
div#principaleConf span#choixStat form#selectAndExport button {
    background:#F1E655;
    position:absolute;
    right:5px;
    top:36px;
    height:18px;
    border:1px solid black;
    width:156px;
    border-radius: 90px;
}
div#principaleConf span#choixStat form#selectAndExport button span{
    position:relative;
    top:-7px;
    text-transform: capitalize
    
}
div#principaleConf span#choixStat form#submitStat button{
    background:#F1E655;

  

  
    font-weight:bold;
    border-radius: 90px;
    height:20px;
    width:156px;
    border:1px solid  black;
    box-shadow:0px 0px 1px 2px #721A3B;
    z-index:10;
    position:absolute;
    top:11px;
    right:5px;
   
}

div#principaleConf span#choixStat form#submitStat button:hover{
     
    
    box-shadow:0px 0px 1px 2px #721A3B,0px 0px 3px 5px #A52656;
}
div#principaleConf span#choixStat form#submitStat button span{
    position:relative;
    text-transform: Uppercase;
   
    letter-spacing: 1px;
    left:0px;
    top:-2px;
    font-size:11px;
    text-align:center;
    color:#A52656;
   
}
form#optionStat{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:space-between; 
    height:50px; 
    font-size:10px;
    width:83%;
}

form#optionStat div div{
    flex-direction:row-reverse;
}

form#optionStat div{
    display:flex;
    flex-direction:column;
    max-width: 290px;
    
    
}
form#optionStat >*{
     min-width:90px;
}
form#optionStat input,form#optionStat span.ui-calendar,form#optionStat div.ui-selectonemenu,form#submitStat span.ui-spinner,form#submitStat span.ui-spinner input{
    height:20px;
  
    padding:0px;
    text-align:center;
}
form#optionStat span.ui-calendar,form#optionStat span.ui-calendar input{
    width:80px;
    
}
form#submitStat span.ui-spinner{
  width:80px;

}
form#submitStat span.ui-spinner input{
    border:1px solid black;
    width:80px;
    border-right:none;
}
form#optionStat div.ui-selectonemenu label{
    position:relative;
    top:-2px;
    min-width: 200px;
}
form#submitStat {
    margin-bottom:5px;
}
form#submitStat span.ui-spinner{
   vertical-align:baseline;
}
form#submitStat span.ui-spinner a:first-child {
    top:1px;
    height:11px;
}
form#submitStat span.ui-spinner a:last-child{
   bottom:-2px; 
    height:11px;
}
form#submitStat span.ui-spinner a span span{
  
}

div#principaleConf span#choixStat form#panStatConcept div div div table thead tr th,div#principaleConf span#choixStat form#panStatTheso div div div table thead tr th{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bbdd87+0,c2df97+47,c2df97+53,789162+100 */
background: #bbdd87; /* Old browsers */
background: -moz-linear-gradient(top, #bbdd87 0%, #c2df97 47%, #c2df97 53%, #789162 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #bbdd87 0%,#c2df97 47%,#c2df97 53%,#789162 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #bbdd87 0%,#c2df97 47%,#c2df97 53%,#789162 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbdd87', endColorstr='#789162',GradientType=0 ); /* IE6-9 */
}
div#principaleConf span#choixStat form#panStatConcept div div.ui-widget-header,div#principaleConf span#choixStat form#panStatConcept div div div table thead tr th:last-child {
    background:transparent;
     border-color:transparent;
}
div#principaleConf span#choixStat form#panStatConcept div div  table tbody tr td:last-child form{
    background: transparent;
}
div#principaleConf span#choixStat form#panStatConcept div div  table tbody tr:nth-child(even){
    background: rgba(194,223,151,0.3);
}