#titre {
  
    height: 50px;
    font-size: 23px;
    margin-left: 5px;
    color: #000000;
}

#help {
    /*float: right;*/
    margin-top: 5px;
    margin-right: 10px;
}

#menuHead{
  /*  height: 120px; */

}

/***************************************** Liste langues *****************************************/

#internationnal {
    /*float: right;*/
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    height: 30px;
    padding: 5px;
    color: #FFFFFF;
}

#internationnal a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2em;
}

.ui-icon-france {
    background: url("../images/logoFrance.png") no-repeat top left !important;
    height: 25px;
    width: 25px;
    border-radius: 0px !important;
}

.ui-icon-runi {
    background: url("../images/logoRoyaumeUni.png") no-repeat top left !important;
    height: 25px;
    width: 25px;
    border-radius: 0px !important;
}

.ui-icon-espagne {
    background: url("../images/logoEspagne.png") no-repeat top left !important;
    height: 25px;
    width: 25px;
    border-radius: 0px !important;
}

.ui-icon-allemagne {
    background: url("../images/logoAllemagne.png") no-repeat top left !important;
    height: 25px;
    width: 25px;
    border-radius: 0px !important;
}

.ui-icon-italie {
    background: url("../images/logoItalie.png") no-repeat top left !important;
    height: 25px;
    width: 25px;
    border-radius: 0px !important;
}

.iconePays {
    float: left;
    padding: 1px;
}

/************************************************* Liste thesaurus ********************************************************/

#infoThesoCompte {
    font-size: 12px;
}

#choixTheso {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 10px;
    text-align: center; 
    border-radius: 6px;
    margin-bottom: -5px;
    border: solid 1px #333A40;
    padding: 1px;
    height: 54px;
}

#choixTheso a {
    display: block;
    text-decoration: none;
    font-size: 15px;;
}

/************************************************* Connexion ********************************************************/

#connect {
    float: left;
    margin-top: 5px;
    margin-left: 30px;
    text-align: center;
    border-radius: 6px;
    border: solid 1px #333A40;
    padding: 1px;
}

#disconnect {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    height: 53px;
    text-align: center;
    border: solid black 1px;
    border-radius: 8px;
    margin-right: 10px;
}

#disconnect a {
    color : #000000;
}

.inputConnect {
    margin: 1px;
    width: 120px;
}

/******************************************************** Boutons menu ********************************************/

#onglets{
    height:20px;
    margin-top:0px;
}

#listeMenu{ 
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height:20px;
 /*   width: 600px;
    margin: 100px auto;*/
    padding: 0;
    margin:0;
    position:relative;
    left:10px;
  /*  background: linear-gradient(to bottom, #C17549 0%, #5D361F 100%);
    background: -webkit-linear-gradient(to bottom, #C17549 0%, #5D361F 100%);
    background: -moz-linear-gradient(to bottom, #C17549 0%, #5D361F 100%);
    background: -ms-linear-gradient(to bottom, #C17549 0%, #5D361F 100%);
    background: -o-linear-gradient(to bottom, #C17549 0%, #5D361F 100%);*/
    border-radius: 3px; 
    
  
}

#itemMenu{ 

}

div#onglets div#listeMenu a{ 
   /* display: block;*/
    text-align: center;
     color: #FFF;
    text-decoration: none;
      list-style-type: none;
    background:rgba(87,147,35,1);
    display: block;
      border:1px solid black;
      transition:padding .3s, background .3s;
      border-radius: 5px;
       margin-top:2px;
    margin-bottom:2px;
    width:100px;
   
   
    
    
    
   
}

div#onglets div#listeMenu a:hover{
  box-shadow:0px 0px 8px #cb794d ;  
}
/*#itemMenu:first-child a{
    border-radius: 3px 0 0 3px;
}

#itemMenu:last-child a{
    border-radius: 0 3px 3px 0;
}*/
/*
#itemMenu li:hover, #itemMenu li:focus{
    background: rgba(10,200,20,0.6); 
    padding: 10px 12px 19px 12px;
 
   
}
*/
#itemMenu a:active{ 
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

#itemMenu a::before{ 
    content: ''; 
    position: absolute; 
    left: 50%; 
    bottom: 9px; 
    margin-left: -2px; 
    width: 4px; 
    height: 4px; 
    border-radius: 50%; 
    background: rgba(0, 0, 0, .5);
}

#itemMenu a:hover::before, #itemMenu a:focus::before{
    background: white;
    box-shadow: 0 0 2px white, 0 -1px 0 rgba(0, 0, 0, .4);
}